<!--
@Author: Aswin Mohan <aswinmohan>
@Date:   2016-09-25T07:27:01+05:30
@Last modified by:   aswinmohan
@Last modified time: 2016-09-25T07:29:40+05:30
-->

<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>

<%=  link_to "Delete this Tweet" , article_path(@article) , method: :delete , data: {confirm: 'Really Delete ?'}%>
<%= link_to "<< Back to Artilces List" , articles_path %>
